* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
}

/***** NAVBAR *****/

.navbar {
    width: 100%;
    height: 44px;
    padding: 0px;
    background-color: red;
}

.navbar .nav-links{
    width: 100%;
    height: 100%;
    margin : 0px;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar .nav-links li a {
    text-decoration: none;
    color: #d6d6d6;
    padding: 0px 20px;
    font-size: 14px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
}

.navbar .nav-links li .text-links {
    padding-top: 3px;
}

.navbar .nav-links li {
    list-style: none;
}

.navbar .nav-links img {
    width : 20px ;
    height : 20px ;
}

/***** INTRO *****/

.intro-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    padding: 80px 270px;
}

.intro-block .title {
    /* background-color: green; */
    margin-bottom: 15px;
}

.intro-block h2 {
    white-space: nowrap; /* Empêche le texte de passer à la ligne */
    color: black;
    font-size: 64px;
    line-height: 1.0625;
    font-weight: 600;
    letter-spacing: -.009em;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.intro-block p {
    white-space: nowrap; /* Empêche le texte de passer à la ligne */
    margin-top: 20px;
    font-size: 24px;
    line-height: 1.33341;
    font-weight: 400;
    letter-spacing: .009em;
}

.intro-block p, .intro-block h2 {
    transition: font-size 0.8s;
}

/* RESPONSIVE */

@media screen and (max-width: 1200px) {
    .intro-block h2 {
        font-size: 50px;
    }

    .intro-block P {
        font-size: 20px;
    }
}

@media screen and (max-width: 1050px) {
    .navbar .nav-links {
        justify-content: flex-start;
    }

    .navbar .nav-links li a {
        padding: 0px 20px; /* Garder le padding initial */
        font-size: 14px;
        transition: padding 0.5s; /* Ajouter une transition sur le padding */
    }

    .navbar .nav-links li:first-child a {
        padding-right: 10px; /* Réduire le padding uniquement du côté droit du premier élément */
    }
}

@media screen and (max-width: 1000px) {
    .navbar .nav-links li a .text-links {
        display: none;
    }

    .navbar .nav-links{
        
        justify-content: space-between;
    }

}

@media screen and (max-width: 950px) {
    .intro-block h2 {
        font-size: 40px;
    }

    .intro-block P {
        font-size: 16px;
    }
}

@media screen and (max-width: 700px) {
    .intro-block h2 {
        font-size: 30px;
    }

    .intro-block P {
        font-size: 10px;
    }
}



/* .intro-block .info .title {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 54px;
    background-color: green;
}

.intro-block .info .title img {
    padding-bottom: 5px;
}

.intro-block .info .tagline {
    width: 100%;
    height: 204px;
    background-color: yellow;
}

.intro-block .info .intro-text {
    width: 100%;
    height: 160px;
    background-color: blue;
    padding-top: 20px;
}

.intro-block .info .tagline, .intro-text {
    text-align: center;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.intro-block .info .tagline h2 {
    font-size: 64px;
    line-height: 1.0625;
    font-weight: 600;
    letter-spacing: -.009em;
}

.intro-block .info .intro-text p {
    font-size: 24px;
    line-height: 1.33341;
    font-weight: 400;
    letter-spacing: .009em;
} */



